<h2>New foto</h2>

<%= render "form.html", changeset: @changeset,
                        action: foto_path(@conn, :create),
                        uk: @uk,
                        kegiatan: @kegiatan %>

<%= link "Back", to: foto_path(@conn, :index) %>
