<div id="reactdom"></div>

<div class="row">
    <div class="col-sm-12 col-lg-12 col-md-12">
        <a class="btn btn-primary" target="_blank" href="http://maxoffsky.com/code-blog/laravel-shop-tutorial-1-building-a-review-system/">Load More...</a>
    </div>
</div>

    <!--</div>-->
